header {
  justify-content: space-between;

  &>img {
    transition: transform 0.5s;
  }

  &>img:hover {
    transform: rotate(90deg);
  }

  & .shopping-bag {
    position: relative;

    width: 2rem;
    height: 2rem;

    & .bag-item {
      background-color: var(--snitap-sun);
      border-radius: 50%;
      width: var(--fs-lg);
      height: var(--fs-lg);
      position: absolute;

      text-align: center;
      top: -0.5rem;
      right: -0.5rem;
    }
  }

  & .shopping-bag>img {
    transition: transform 0.5s;
  }

  & .shopping-bag>img:hover {
    transform: rotate(-35deg);
  }

}