#hero {
  width: 100%;
  overflow-x: hidden;

  & .hero-main {
    width: 100%;
    align-items: center;
    position: relative;

    & img:nth-child(1) {
      position: relative;
      width: 19rem;


    }

    & img:nth-child(4) {
      position: absolute;

      width: 19rem;
      z-index: -1;
    }
  }
}