.patins-scroll {
  background: linear-gradient(45deg, #F472B6, #67E8F9);
  background-size: 1000% 1000%;
  gap: 1.5rem;
  margin-block: 2.5rem;
  animation: gradient 20s ease-in-out infinite;
  height: 3.5rem;

  & .rolling {
    align-items: center;
    gap: 1.5rem;
  }

  & img {
    animation: infinite-slide 10s linear infinite;
  }
}

@keyframes infinite-slide {
  to {
    transform: translateX(-132px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}